* {
	margin:0;
	padding:0;
	box-sizing: border-box; /*to make sure padding and border are included in the total width/height of the elements */
}

html {
	height:100%;
}

body {
    font-family: 'Open Sans', sans-serif;
	min-height: 100%;
	position: relative;
	/*background-color: grey;*/
}
main {
	padding-bottom: 4.2rem; /*must equal footer height*/
}

main > h1{
   	margin: 0;
    padding-top: 0.5em;
    margin-bottom: 0.8em;
	font-size: 4.5rem;
    font-family: 'Lilita One', cursive;
}

.mainContainer {
    max-width: 63rem;
    padding: 0 2.5rem 0;
    border-radius: 15px;
	margin: 0 auto 4rem;
}
.clearfix:after { /*used to avoid div with floated elements in it to collapse to 0 px height */
   content: " ";
   display: block; 
   height: 0; 
   clear: both;
}

#buttonBar {
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	flex-wrap: wrap;
}

#searchBar {
	max-width:30rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

#resultsList {
	display: none;
}
#resultsList a {
	color: inherit;
	display: inline-block;
	padding: 0 2rem;
	border-left: 4px solid white; /* "invisible" border to avoid text shifting to the right when hovering */
}

#resultsList a:hover {
	text-decoration: none;
	background-color: #f5f5f5;
    border-left: 4px solid #31b0d5;
}

#resultsList h1, #error h1{
    margin-bottom: 0.3em;
	margin-top: 0.75em;
    font-size: 2rem;
	color: #31b0d5;
    /*font-family: 'Amatic SC', cursive;*/
}

#resultsList p{
    margin-bottom: 0.75em;
}

#resultsList li {
	list-style: none;
}

#error {
	display: none;
}

footer {
	position: absolute;
	width:100%;
	height: 4.2rem; /*change 'main' height if this is changed */
	bottom: 0;
	left: 0;
	background-color: black;
	padding:1rem 1.5rem 0 1.8rem;	
}

footer .left {
	float: left;
}

footer .right {
	float: right;
}

footer i {
	position: relative;
	top:-3px;
}

#twitter {
	margin-right:15px;
}